discord.py
jishaku
mcstatus
discord-ext-menus
aiohttp
flask
psutil
requests
wavelink>=2.0.0
httpx
numpy
aiosqlite
aiofiles
gtts
langdetect
python-dotenv
PyYAML
openai
duckduckgo-search==6.3.6
pillow==11.0.0
colorama
chess
python-dateutil
deep-translator==1.11.4
pytz
typing_extensions
prodia
